body {
  box-sizing: border-box;
  background-color: #c4c4c4;
  font-family: 'Work Sans', sans-serif;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  gap: 1rem;
}

a {
  text-decoration: none;
  color: rgb(241, 241, 241);
}

/* -- NAV -- */

nav {
  grid-area: 1/1/ span 1 / 11;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  background-color: #999898;
  border-radius: .5rem;
}

nav figure {
  margin: 1rem;
  max-width: 7%;
}

nav figure img {
  max-width: 100%;
  height: auto;
  display: block;
}

.flexMenuContainer {
  display: flex;
  flex-wrap: wrap;
  color: beige;
  font-weight: 700;
  max-width: 100%;
  list-style: none;
}

.flexMenuContainer li {
  padding: 5px 5px;
}

.flexMenuContainer li:hover {
  text-shadow: .1em .1em .2em beige;
  text-decoration: underline;
}

/* -- HEADER -- */

header {
  grid-area: 2/1/4/11;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: .1em .1em .2em beige;
  border-radius: .5rem;
  align-items: center;
}

.backImg {
  background-image: url('./resources/images/header_background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* -- MAIN -- */

main {
  grid-column: 2/ 10;
  background-color: #999898;
  border-radius: 2rem;
  display: grid;
}
  
.container {

}

#areas {

}

/* -- MEDIA -- */

@media only screen and (max-width: 450px) {
  nav {
    justify-content: center;
  }
  
  nav figure {
    max-width: 30%;
  }


}